<% if current_user && current_user.role=="Admin" %>
  <%= render "shared/nav_admin" %>
<% elsif current_user && current_user.role=="User" %>
  <%= render "shared/nav_user" %>
<% else %>
  <%= render "shared/nav_public" %>
<% end %>

<div class="container-fluid mt-5">
  <div class="row jutsify-content-center mt-3">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header"><i class="far fa-edit me-1"></i>Edit Service</div>
        <div class="card-body">
          <%= render 'form', service: @service %>
        </div>
      </div>
    </div>
  </div>
</div>