<% if flash[:notice] %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% elsif flash[:error] %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% elsif flash[:alert] %>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  </div>
<% end %>