@import "trix";

html,body{
  height: 100vh;
  //margin-top: 40px;
}

abbr{
  display: none;
}

.trix-content{
  height: 45vh;
}

#notice_wrapper{
  z-index: 1;
  position: relative;
  top: 50px;
  text-align: center;
}

.brand{
  padding: 3px 8px 8px 8px;
  border: 2px solid #37474F;
  color: #37474F;
  font-weight: 500;
}